server:
  port: 8083
spring:
  application:
    name: grssmcrud
  datasource:
    druid:
      url: jdbc:oracle:thin:@//localhost:1521/XEPDB1
      driver-class-name: oracle.jdbc.OracleDriver
      username: oraclect
      password: oraclect
      max-active: 30
      max-wait: 1500000
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
    database: oracle
    show-sql: true
    open-in-view: false
  output:
    ansi:
      enabled: ALWAYS