<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}">Title</title>
    <!--import the jQuery framework-->
    <script type="text/javascript" th:src="@{/jquery/jquery_3-6-0.min.js}"></script>
    <!--import the bootstrap framework-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap-theme.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<!-- Build the displayed web page. -->
<div class="container">
    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h1>グローバル都市一覧</h1>
        </div>
    </div>
    <!-- Button -->
    <div class="row">
        <div class="col-lg-2 col-lg-offset-10">
            <button class="btn btn-success" id="cityAddModalBtn">
                <span class="glyphicon glyphicon-pawn"></span>CityInfo+
            </button>
        </div>
    </div>
    <!-- Data -->
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover" id="cityTable">
                <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Continent</th>
                    <th class="text-center">Nation</th>
                    <th class="text-center">District</th>
                    <th class="text-center">Population</th>
                    <th class="text-center">Operation</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pg:${pageInfo.getList()}">
                    <td th:text="${pg.id}" class='text-center'></td>
                    <td th:text="${pg.name}" class='text-center'></td>
                    <td th:text="${pg.continent}" class='text-center'></td>
                    <td th:text="${pg.nation}" class='text-center'></td>
                    <td th:text="${pg.district}" class='text-center'></td>
                    <td th:text="${pg.population}" class='text-center'></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Info of the navigated pages -->
    <div class="row">
        <div class="col-lg-5"
             th:text="|The ${pageInfo.pageNum} page in ${pageInfo.pages} pages, ${pageInfo.total} records found.|"></div>
        <div class="col-lg-7">
            <ul class="pagination">
                <li th:id="firstpage">
                    <a th:action="@{/gradle/city?pageNum=1}">最初のページ</a>
                </li>
                <li th:id="lastpage">
                    <a th:action="@{/gradle/city/{pageNum}(pageNum=${pageInfo.total})}">最初のページ</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Modal for inputting city info -->
<div class="modal fade" id="cityAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Add City</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="nameInput" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control" id="nameInput"
                                   placeholder="Name of the city">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="continentInput" class="col-sm-2 control-label">Continent</label>
                        <div class="col-sm-5">
                            <select id="continentInput" class="form-control" name="continent"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nationInput" class="col-sm-2 control-label">Nation</label>
                        <div class="col-sm-5">
                            <select id="nationInput" class="form-control" name="nation"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="districtInput" class="col-sm-2 control-label">District</label>
                        <div class="col-sm-10">
                            <input type="text" name="district" class="form-control" id="districtInput"
                                   placeholder="The district which the city belongs to.">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="populationInput" class="col-sm-2 control-label">Population</label>
                        <div class="col-sm-10">
                            <input type="text" name="population" class="form-control" id="populationInput"
                                   placeholder="Example: usa, bra, nld.etc">
                            <span class="help-block"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="cityInfoSaveBtn">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for modifying city info -->
<div class="modal fade" id="cityEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Edit Info</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="displayedCityName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" id="displayedCityName"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="continentEdit" class="col-sm-2 control-label">Continent</label>
                        <div class="col-sm-5">
                            <select id="continentEdit" class="form-control" name="continent"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nationEdit" class="col-sm-2 control-label">Nation</label>
                        <div class="col-sm-5">
                            <select id="nationEdit" class="form-control" name="nation"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="districtEdit" class="col-sm-2 control-label">District</label>
                        <div class="col-sm-10">
                            <input type="text" name="district" class="form-control" id="districtEdit"
                                   placeholder="The district which the city belongs to">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="populationEdit" class="col-sm-2 control-label">Population</label>
                        <div class="col-sm-10">
                            <input type="text" name="population" class="form-control" id="populationEdit"
                                   placeholder="Example:usa, bra, nld.etc">
                            <span class="help-block"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="cityInfoChangeBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    //    const pathName = window.document.location.pathname;
    //
    //    const pathdeApp = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);
    //
    //    let totalRecord, currentPage;
    //
    //    let continentVal;
    //
    //    //After the page load, send the ajax request to get page infos.
    //    $(function () {
    //        toSelectedPg(1);
    //    });
    //
    //    //Transfer to clicked page numbers.
    //    function toSelectedPg(pageNum) {
    //        $.ajax({
    //            url: pathdeApp + "/city",
    //            data: "pageNum=" + pageNum,
    //            type: "GET",
    //            success: function (result) {
    //                buildCityTable(result);
    //                buildPageInfos(result);
    //                buildPageNavi(result);
    //            }
    //        })
    //    }
    //
    //    //Analyze and display the data.
    //    function buildCityTable(result) {
    //        //Emptying the former table.
    //        $("#cityTable tbody").empty();
    //        let cities = result.extend.pageInfo.list;
    //        $.each(cities, function (index, item) {
    //            let idTd = $("<td class='text-center'></td>").append(item.id);
    //            let nameTd = $("<td class='text-center'></td>").append(item.name);
    //            let continentTd = $("<td class='text-center'></td>").append(item.continent);
    //            let nationTd = $("<td class='text-center'></td>").append(item.nation);
    //            let districtTd = $("<td class='text-center'></td>").append(item.district);
    //            let populationTd = $("<td class='text-center'></td>").append(item.population);
    //            let editBtn = $("<button></button>").addClass("btn btn-info btn-sm edit_btn")
    //                .append($("<span></span>").addClass("glyphicon glyphicon-pencil")).append(" Edit");
    //            editBtn.attr("edit-id", item.id);
    //            let deleteBtn = $("<button></button>").addClass("btn btn-danger btn-sm delete_btn")
    //                .append($("<span></span>").addClass("glyphicon glyphicon-trash")).append(" Delete");
    //            deleteBtn.attr("delete-id", item.id);
    //            let btnTd = $("<td class='text-center'></td>").append(editBtn).append(" ").append(deleteBtn);
    //            $("<tr></tr>").append(idTd).append(nameTd).append(continentTd).append(nationTd)
    //                .append(districtTd).append(populationTd).append(btnTd).appendTo("#cityTable tbody");
    //        });
    //    }
    //
    //    //Analyze and display the page infos.
    //    function buildPageInfos(result) {
    //        let pageInfos = $("#pageInfos");
    //        pageInfos.empty();
    //        pageInfos.append("The " + result.extend.pageInfo.pageNum
    //            + " page in " + result.extend.pageInfo.pages + " pages, "
    //            + result.extend.pageInfo.total + " records found.");
    //        currentPage = result.extend.pageInfo.pageNum;
    //        totalRecord = result.extend.pageInfo.total;
    //    }
    //
    //    //Analyze and display the navigated pages.
    //    function buildPageNavi(result) {
    //        $("#pageNavi").empty();
    //        let ul = $("<ul></ul>").addClass("pagination");
    //        let firstPageLi = $("<li></li>").append($("<a></a>").append("First Page").attr("href", "#"));
    //        let previousPageLi = $("<li></li>").append($("<a></a>").append("&laquo;").attr("href", "#"));
    //        if (!result.extend.pageInfo.hasPreviousPage) {
    //            firstPageLi.addClass("disabled");
    //            previousPageLi.addClass("disabled");
    //        } else {
    //            firstPageLi.click(function () {
    //                toSelectedPg(1);
    //            });
    //            previousPageLi.click(function () {
    //                toSelectedPg(result.extend.pageInfo.pageNum - 1);
    //            });
    //        }
    //        let nextPageLi = $("<li></li>").append($("<a></a>").append("&raquo;").attr("href", "#"));
    //        let lastPageLi = $("<li></li>").append($("<a></a>").append("Last Page").attr("href", "#"));
    //        if (!result.extend.pageInfo.hasNextPage) {
    //            nextPageLi.addClass("disabled");
    //            lastPageLi.addClass("disabled");
    //        } else {
    //            nextPageLi.click(function () {
    //                toSelectedPg(result.extend.pageInfo.pageNum + 1);
    //            });
    //            lastPageLi.click(function () {
    //                toSelectedPg(result.extend.pageInfo.pages);
    //            });
    //        }
    //        ul.append(firstPageLi).append(previousPageLi);
    //        $.each(result.extend.pageInfo.navigatepageNums, function (index, item) {
    //            let numsLi = $("<li></li>").append($("<a></a>").append(item).attr("href", "#"));
    //            if (result.extend.pageInfo.pageNum === item) {
    //                numsLi.addClass("active");
    //            }
    //            numsLi.click(function () {
    //                toSelectedPg(item);
    //            });
    //            ul.append(numsLi);
    //        });
    //        ul.append(nextPageLi).append(lastPageLi);
    //        let navElement = $("<nav></nav>").append(ul);
    //        navElement.appendTo("#pageNavi");
    //    }
    //
    //    //Add click function to the input modal.
    //    $("#cityAddModalBtn").click(function () {
    //        formReset("#cityAddModal form");
    //        getContinent("#continentInput");
    //        getNation("#nationInput");
    //        $("#cityAddModal").modal({
    //            backdrop: "static"
    //        });
    //    });
    //
    //    //Get the name of continent.
    //    function getContinent(element) {
    //        $(element).empty();
    //        $.ajax({
    //            url: pathdeApp + "/continents",
    //            type: "GET",
    //            success: function (result) {
    //                $.each(result.extend.continents, function () {
    //                    let optionElement = $("<option></option>")
    //                        .append(this.continent).attr("value", this.continent);
    //                    optionElement.appendTo(element);
    //                });
    //            }
    //        });
    //    }
    //
    //    //Get the name of nation.
    //    function getNation(element) {
    //        $(element).empty();
    //        let options = $("#continentInput option:selected");
    //        continentVal = options.text();
    //        $.ajax({
    //            url: pathdeApp + "/nations",
    //            data: "continentVal=" + continentVal,
    //            type: "GET",
    //            success: function (result) {
    //                $.each(result.extend.nations, function () {
    //                    let optionElement = $("<option></option>")
    //                        .append(this.nation).attr("value", this.nation);
    //                    optionElement.appendTo(element);
    //                });
    //            }
    //        });
    //    }
    //
    //    //Analyze the input name is duplicate or not.
    //    $("#nameInput").change(function () {
    //        const cityName = this.value;
    //        $.ajax({
    //            url: pathdeApp + "/checklist",
    //            data: "cityName=" + cityName,
    //            type: "GET",
    //            success: function (result) {
    //                if (result.code === 200) {
    //                    showValidationMsg("#nameInput", "success", "");
    //                    $("#cityInfoSaveBtn").attr("ajax-va", "success");
    //                } else {
    //                    showValidationMsg("#nameInput", "error", result.extend.validatedMsg);
    //                    $("#cityInfoSaveBtn").attr("ajax-va", "error");
    //                }
    //            }
    //        });
    //    });
    //
    //    //Click, save and check the input data format.
    //    $("#cityInfoSaveBtn").click(function () {
    //        var inputDistrict = $("#districtInput").val();
    //        var inputPopulation = $("#populationInput").val();
    //        var regularDistrict = /^[a-zA-Z_-]{2,33}$/;
    //        var regularPopulation = /^[0-9]{4,18}$/;
    //        if ($(this).attr("ajax-va") === "error") {
    //            return false;
    //        } else if (!regularDistrict.test(inputDistrict)
    //            && !regularPopulation.test(inputPopulation)) {
    //            showValidationMsg("#districtInput", "error", "Districts' name should be in 2~33 Latin alphabets.");
    //            showValidationMsg("#populationInput", "error", "Population should be in 4~18 numbers.");
    //            return false;
    //        } else if (!regularDistrict.test(inputDistrict)
    //            && regularPopulation.test(inputPopulation)) {
    //            showValidationMsg("#districtInput", "error", "Districts' name should be in 2~33 Latin alphabets.");
    //            showValidationMsg("#populationInput", "success", "√");
    //            return false;
    //        } else if (regularDistrict.test(inputDistrict)
    //            && !regularPopulation.test(inputPopulation)) {
    //            showValidationMsg("#districtInput", "success", "√");
    //            showValidationMsg("#populationInput", "error", "Population should be in 4~18 numbers.");
    //            return false;
    //        } else {
    //            showValidationMsg("#districtInput", "success", "√");
    //            showValidationMsg("#populationInput", "success", "√");
    //            //Send an ajax request to commit save options.
    //            $.ajax({
    //                url: pathdeApp + "/city",
    //                type: "POST",
    //                data: $("#cityAddModal form").serialize(),
    //                success: function (result) {
    //                    if (result.code === 200) {
    //                        $("#cityAddModal").modal('hide');
    //                        //To last page.
    //                        toSelectedPg(totalRecord);
    //                    } else if (undefined !== result.extend.errorFields.name) {
    //                        showValidationMsg("#nameInput", "error", result.extend.errorFields.name);
    //                    }
    //                }
    //            });
    //        }
    //    });
    //
    //    //Add click function to the edit modal.
    //    $(document).on("click", ".edit_btn", function () {
    //        formReset("#cityEditModal form");
    //        // get_nation_name("#cityEditModal select");
    //        getCityInfo($(this).attr("edit-id"));
    //        $("#cityInfoChangeBtn").attr("edit-id", $(this).attr("edit-id"));
    //        $("#cityEditModal").modal({
    //            backdrop: "static"
    //        });
    //    });
    //
    //    //Get the selected city infos.
    //    function getCityInfo(id) {
    //        $.ajax({
    //            url: pathdeApp + "/city/" + id,
    //            type: "GET",
    //            success: function (result) {
    //                let cityData = result.extend.citySelected;
    //                $("#displayedCityName").text(cityData.name);
    //                $("#continentEdit").val([cityData.continent]);
    //                $("#nationEdit").val([cityData.nation]);
    //                $("#districtEdit").val(cityData.district);
    //                $("#populationEdit").val(cityData.population);
    //            }
    //        });
    //    }
    //
    //    //Submit the change of city infos.
    //    $("#cityInfoChangeBtn").click(function () {
    //        var inputDistrict = $("#districtEdit").val();
    //        var inputPopulation = $("#populationEdit").val();
    //        var regularDistrict = /^[a-zA-Z_-]{2,33}$/;
    //        var regularPopulation = /^[0-9]{4,18}$/;
    //        var editId = $(this).attr("edit-id");
    //        if (!regularDistrict.test(inputDistrict)
    //            && !regularPopulation.test(inputPopulation)) {
    //            showValidationMsg("#districtEdit", "error", "Districts' name should be in 2~33 Latin alphabets.");
    //            showValidationMsg("#populationEdit", "error", "Population should be in 4~18 numbers.");
    //            return false;
    //        } else if (!regularDistrict.test(inputDistrict)
    //            && regularPopulation.test(inputPopulation)) {
    //            showValidationMsg("#districtEdit", "error", "Districts' name should be in 2~33 Latin alphabets.");
    //            showValidationMsg("#populationEdit", "success", "√");
    //            return false;
    //        } else if (regularDistrict.test(inputDistrict)
    //            && !regularPopulation.test(inputPopulation)) {
    //            showValidationMsg("#districtEdit", "success", "√");
    //            showValidationMsg("#populationEdit", "error", "Population should be in 4~18 numbers.");
    //            return false;
    //        } else {
    //            showValidationMsg("#districtEdit", "success", "√");
    //            showValidationMsg("#populationEdit", "success", "√");
    //            $.ajax({
    //                url: pathdeApp + "/city/" + editId,
    //                type: "PUT",
    //                data: $("#cityEditModal form").serialize(),
    //                success: function () {
    //                    $("#cityEditModal").modal('hide');
    //                    toSelectedPg(currentPage);
    //                }
    //            });
    //        }
    //    });
    //
    //    //Add click function to the delete modal.
    //    $(document).on("click", ".delete_btn", function () {
    //        var cityName = $(this).parents("tr").find("td:eq(1)").text();
    //        var cityId = $(this).attr("delete-id");
    //        if (confirm("Ready to delete the infos of "
    //            + cityName + ", is it right?")) {
    //            $.ajax({
    //                url: pathdeApp + "/city/" + cityId,
    //                type: "DELETE",
    //                success: function () {
    //                    toSelectedPg(currentPage);
    //                }
    //            });
    //        }
    //    });
    //
    //    //Reset the modal form.
    //    function formReset(element) {
    //        $(element)[0].reset();
    //        $(element).find("*").removeClass("has-error has-success");
    //        $(element).find(".help-block").text("");
    //    }
    //
    //    //Add status color to the modal form input rows.
    //    function showValidationMsg(element, status, msg) {
    //        $(element).parent().removeClass("has-success has-error");
    //        $(element).next("span").text("");
    //        if (status === "success") {
    //            $(element).parent().addClass("has-success");
    //            $(element).next("span").text(msg);
    //        } else if (status === "error") {
    //            $(element).parent().addClass("has-error");
    //            $(element).next("span").text(msg);
    //        }
    //    }
</script>
</body>
</html>