<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.toshiba.ppok.mapper.CityMapper">
	<resultMap id="BasicResultMap"
		type="jp.co.toshiba.ppok.entity.City" autoMapping="true">
		<id property="id" jdbcType="NUMERIC" column="ID" />
	</resultMap>
	<insert id="saveById"
		parameterType="jp.co.toshiba.ppok.entity.City">
		INSERT 
		INTO WORLD_CITY( 
			ID,
		    NAME, 
		    COUNTRY_CODE, 
		    DISTRICT, 
		    POPULATION, 
		    DELETE_FLG
		) 
		VALUES ( 
		    #{id,jdbcType=NUMERIC}, 
		    #{name,jdbcType=NVARCHAR}, 
		    #{countryCode,jdbcType=NCHAR}, 
		    #{district,jdbcType=NVARCHAR}, 
		    #{population,jdbcType=NUMERIC}, 
		    #{deleteFlg,jdbcType=NVARCHAR}
		)
	</insert>
	<update id="removeById" parameterType="java.lang.Integer">
		UPDATE WORLD_CITY WCN 
		SET
		    WCN.DELETE_FLG = 'removed' 
		WHERE
		    WCN.ID = #{id,jdbcType=NUMERIC}
	</update>
	<update id="updateById"
		parameterType="jp.co.toshiba.ppok.entity.City">
		UPDATE WORLD_CITY WCN
		<set>
			<if test="name != null">
				WCN.NAME = #{name,jdbcType=NVARCHAR},
			</if>
			<if test="countryCode != null">
				WCN.COUNTRY_CODE = #{countryCode,jdbcType=NCHAR},
			</if>
			<if test="district != null">
				WCN.DISTRICT = #{district,jdbcType=NVARCHAR},
			</if>
			<if test="population != null">
				WCN.POPULATION = #{population,jdbcType=NUMERIC},
			</if>
		</set>
		WHERE 
			WCN.DELETE_FLG = 'visible'
			AND WCN.ID = #{id,jdbcType=NUMERIC}
	</update>
	<select id="selectById" resultMap="BasicResultMap">
		SELECT
		    WC.ID
		    , WC.NAME
		    , WC.COUNTRY_CODE
		    , WC.DISTRICT
		    , WC.POPULATION
		    , WC.DELETE_FLG 
		FROM
		    WORLD_CITY WC 
		WHERE
		    WC.DELETE_FLG = 'visible' 
		    AND WC.ID = #{id,jdbcType=NUMERIC}
	</select>
	<select id="saiban" resultType="java.lang.Long">
		SELECT
		    COUNT(WCN.ID) + 1 
		FROM
		    WORLD_CITY WCN 
	</select>
	<select id="checkDuplicatedName" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		SELECT
		    COUNT(1) 
		FROM
		    WORLD_CITY WCN 
		WHERE
			WCN.DELETE_FLG = 'visible'
			AND WCN.NAME = #{cityName,jdbcType=NVARCHAR}
	</select>
</mapper>