<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.toshiba.ppok.mapper.CityViewMapper">
	<resultMap id="BasicResultMap"
		type="jp.co.toshiba.ppok.entity.CityView" autoMapping="true">
		<id property="id" jdbcType="NUMERIC" column="ID" />
	</resultMap>
	<select id="getCityInfos" resultMap="BasicResultMap">
		SELECT
			WCV.ID,
			WCV.CONTINENT,
			WCV.NATION,
			WCV.NAME,
			WCV.DISTRICT,
			WCV.POPULATION
		FROM
			WORLD_CITY_VIEW WCV 
        OFFSET #{offset,jdbcType=INTEGER} ROWS 
        FETCH NEXT #{pageSize,jdbcType=INTEGER} ROWS ONLY
	</select>
	<select id="getCityInfosCnt" resultType="java.lang.Integer">
		SELECT
			COUNT(1)
		FROM
			WORLD_CITY_VIEW WCV
	</select>
	<select id="getByNations" resultMap="BasicResultMap">
		SELECT
			WCV.ID,
			WCV.CONTINENT,
			WCV.NATION,
			WCV.NAME,
			WCV.DISTRICT,
			WCV.POPULATION
		FROM
			WORLD_CITY_VIEW WCV
        WHERE
            WCV.NATION = #{nation,jdbcType=NVARCHAR} 
        OFFSET #{offset,jdbcType=INTEGER} ROWS 
        FETCH NEXT #{pageSize,jdbcType=INTEGER} ROWS ONLY
	</select>
	<select id="getByNationsCnt" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		SELECT
		    COUNT(1) 
		FROM
		    WORLD_CITY_VIEW WCV 
		WHERE
		    WCV.NATION = #{nation,jdbcType=NVARCHAR}
	</select>
	<select id="getByNames" resultMap="BasicResultMap">
		SELECT
			WCV.ID,
			WCV.CONTINENT,
			WCV.NATION,
			WCV.NAME,
			WCV.DISTRICT,
			WCV.POPULATION
		FROM
			WORLD_CITY_VIEW WCV 
        WHERE
            WCV.NAME LIKE CONCAT('%', CONCAT(#{name,jdbcType=NVARCHAR}, '%')) 
        OFFSET #{offset,jdbcType=INTEGER} ROWS 
        FETCH NEXT #{pageSize,jdbcType=INTEGER} ROWS ONLY
	</select>
	<select id="getByNamesCnt" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		SELECT
		    COUNT(1)
		FROM
		    WORLD_CITY_VIEW WCV
		WHERE
		    WCV.NAME LIKE CONCAT('%', CONCAT(#{name,jdbcType=NVARCHAR}, '%'))
	</select>
	<select id="getMinimumRanks" resultMap="BasicResultMap">
		SELECT
			WCV.ID,
			WCV.CONTINENT,
			WCV.NATION,
			WCV.NAME,
			WCV.DISTRICT,
			WCV.POPULATION
		FROM
			WORLD_CITY_VIEW WCV
		ORDER BY
		    WCV.POPULATION ASC 
		FETCH FIRST #{sort,jdbcType=INTEGER} ROWS ONLY
	</select>
	<select id="getMaximumRanks" resultMap="BasicResultMap">
		SELECT
			WCV.ID,
			WCV.CONTINENT,
			WCV.NATION,
			WCV.NAME,
			WCV.DISTRICT,
			WCV.POPULATION
		FROM
			WORLD_CITY_VIEW WCV
		ORDER BY
		    WCV.POPULATION DESC 
		FETCH FIRST #{sort,jdbcType=INTEGER} ROWS ONLY
	</select>
	<select id="getCityInfoById" parameterType="java.lang.Integer"
		resultMap="BasicResultMap">
		SELECT
			WCV.ID,
			WCV.CONTINENT,
			WCV.NATION,
			WCV.NAME,
			WCV.DISTRICT,
			WCV.POPULATION
		FROM
			WORLD_CITY_VIEW WCV
		WHERE
		    WCV.ID = #{id,jdbcType=NUMERIC}
	</select>
</mapper>