<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.toshiba.ppok.mapper.CountryMapper">
	<resultMap id="BaseResultMap"
		type="jp.co.toshiba.ppok.entity.Country">
		<id column="CODE" jdbcType="NCHAR" property="code" />
		<result column="NAME" jdbcType="NVARCHAR" property="name" />
		<result column="CONTINENT" jdbcType="NVARCHAR"
			property="continent" />
		<result column="REGION" jdbcType="NVARCHAR" property="region" />
		<result column="SURFACE_AREA" jdbcType="NUMERIC"
			property="surfaceArea" />
		<result column="INDEPENDENCE_YEAR" jdbcType="NUMERIC"
			property="independenceYear" />
		<result column="POPULATION" jdbcType="NUMERIC"
			property="population" />
		<result column="LIFE_EXPECTANCY" jdbcType="NUMERIC"
			property="lifeExpectancy" />
		<result column="GNP" jdbcType="NUMERIC" property="gnp" />
		<result column="CNP_OLD" jdbcType="NUMERIC" property="gnpOld" />
		<result column="LOCAL_NAME" jdbcType="NVARCHAR"
			property="localName" />
		<result column="GOVERNMENT_FORM" jdbcType="NVARCHAR"
			property="governmentForm" />
		<result column="HEAD_OF_STATE" jdbcType="NVARCHAR"
			property="headOfState" />
		<result column="CAPITAL" jdbcType="NUMERIC" property="capital" />
		<result column="CODE2" jdbcType="NCHAR" property="code2" />
		<result column="LOGIC_DELETE_FLG" jdbcType="NVARCHAR"
			property="logicDeleteFlg" />
	</resultMap>
	<select id="getAllContinents" resultType="java.lang.String">
		SELECT
		    CTY.CONTINENT 
		FROM
		    WORLD_COUNTRY CTY 
		WHERE
		    NOT EXISTS ( 
		        SELECT
		            1 
		        FROM
		            WORLD_COUNTRY CTN 
		        WHERE
		            CTN.CONTINENT = CTY.CONTINENT 
		            AND CTN.CODE > CTY.CODE
		    ) 
		ORDER BY
		    CTY.CONTINENT
	</select>
	<select id="getNationsByCnt" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT
		    CTY.NAME
		FROM
		    WORLD_COUNTRY CTY
		WHERE
		    CTY.CONTINENT = #{continent,jdbcType=NVARCHAR}
		ORDER BY
		    CTY.NAME
	</select>
	<select id="getNationCode" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT
		    CTY.CODE
		FROM
		    WORLD_COUNTRY CTY
		WHERE
		    CTY.NAME = #{name,jdbcType=NVARCHAR}
	</select>
</mapper>