<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.toshiba.ppok.mapper.CountryMapper">
	<resultMap id="BaseResultMap"
		type="jp.co.toshiba.ppok.entity.Country" autoMapping="true">
		<id property="code" jdbcType="NCHAR" column="CODE" />
	</resultMap>
	<select id="getAllContinents" resultType="java.lang.String">
		SELECT
		    WCY.CONTINENT 
		FROM
		    WORLD_COUNTRY WCY 
		WHERE
		    NOT EXISTS ( 
		        SELECT
		            1 
		        FROM
		            WORLD_COUNTRY CTY 
		        WHERE
		            CTY.CONTINENT = WCY.CONTINENT 
		            AND CTY.CODE > WCY.CODE
		    ) 
		ORDER BY
		    WCY.CONTINENT
	</select>
	<select id="getNationsByCnt" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT
		    WCY.NAME 
		FROM
		    WORLD_COUNTRY WCY 
		WHERE
		    WCY.CONTINENT = #{continent,jdbcType=NVARCHAR} 
		ORDER BY
		    WCY.NAME
	</select>
	<select id="getNationCode" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT
		    WCY.CODE 
		FROM
		    WORLD_COUNTRY WCY 
		WHERE
		    WCY.NAME = #{name,jdbcType=NVARCHAR}
	</select>
</mapper>