<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.toshiba.ppok.mapper.LanguageMapper">
	<resultMap id="BasicResultMap"
		type="jp.co.toshiba.ppok.entity.Language">
		<id column="COUNTRY_CODE" jdbcType="NCHAR" property="countryCode" />
		<id column="LANGUAGE" jdbcType="NVARCHAR" property="language" />
		<result column="IS_OFFICIAL" jdbcType="NCHAR"
			property="isOfficial" />
		<result column="PERCENTAGE" jdbcType="NUMERIC"
			property="percentage" />
		<result column="LOGIC_DELETE_FLG" jdbcType="NVARCHAR"
			property="logicDeleteFlg" />
	</resultMap>
	<select id="getLanguage" resultType="java.lang.String">
		SELECT DISTINCT
		    CASE 
		        WHEN SUBF.OFPERCENTAGE - SUBT.OTPERCENTAGE &gt;= 20 
		            THEN SUBF.OFLANGUAGE 
		        ELSE SUBT.OTLANGUAGE 
		        END AS LANGUAGE
		FROM
		    WORLD_LANGUAGE WL 
		    INNER JOIN ( 
		        SELECT
		            WL.COUNTRY_CODE, 
		            WL.LANGUAGE AS OTLANGUAGE, 
		            MATX.OTPERCENTAGE 
		        FROM
		            WORLD_LANGUAGE WL 
		            INNER JOIN ( 
		                SELECT
		                    WL.COUNTRY_CODE, 
		                    MAX(WL.PERCENTAGE) AS OTPERCENTAGE 
		                FROM
		                    WORLD_LANGUAGE WL 
		                WHERE
		                    WL.LOGIC_DELETE_FLG = 'visible' 
		                    AND WL.IS_OFFICIAL = 'T' 
		                GROUP BY
		                    WL.COUNTRY_CODE
		            ) MATX 
		                ON MATX.COUNTRY_CODE = WL.COUNTRY_CODE 
		                AND MATX.OTPERCENTAGE = WL.PERCENTAGE 
		                AND WL.IS_OFFICIAL = 'T'
		    ) SUBT 
		        ON SUBT.COUNTRY_CODE = WL.COUNTRY_CODE 
		    INNER JOIN ( 
		        SELECT
		            WL.COUNTRY_CODE, 
		            WL.LANGUAGE AS OFLANGUAGE, 
		            MAFX.OFPERCENTAGE 
		        FROM
		            WORLD_LANGUAGE WL 
		            INNER JOIN ( 
		                SELECT
		                    WL.COUNTRY_CODE, 
		                    MAX(WL.PERCENTAGE) AS OFPERCENTAGE 
		                FROM
		                    WORLD_LANGUAGE WL 
		                WHERE
		                    WL.LOGIC_DELETE_FLG = 'visible' 
		                    AND WL.IS_OFFICIAL = 'F' 
		                GROUP BY
		                    WL.COUNTRY_CODE
		            ) MAFX 
		                ON MAFX.COUNTRY_CODE = WL.COUNTRY_CODE 
		                AND MAFX.OFPERCENTAGE = WL.PERCENTAGE 
		                AND WL.IS_OFFICIAL = 'F'
		    ) SUBF 
		        ON SUBF.COUNTRY_CODE = WL.COUNTRY_CODE
		WHERE WL.COUNTRY_CODE = #{nationCode,jdbcType=NCHAR}
	</select>
</mapper>