<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.toshiba.ppok.mapper.LanguageMapper">
	<resultMap id="BasicResultMap"
		type="jp.co.toshiba.ppok.entity.Language" autoMapping="true">
		<id column="COUNTRY_CODE" jdbcType="NCHAR" property="countryCode" />
		<id column="LANGUAGE" jdbcType="NVARCHAR" property="name" />
	</resultMap>
	<select id="getLanguageByNationName" resultType="java.lang.String">
		SELECT DISTINCT
		    CASE 
		        WHEN (UM.OFPERCENTAGE - COALESCE(OM.OTPERCENTAGE, 0)) &gt;= 35 
		            THEN UM.OFLANGUAGE 
		        ELSE NVL(OM.OTLANGUAGE, UM.OFLANGUAGE) 
		        END AS LANGUAGE 
		FROM
		    WORLD_LANGUAGE WL 
		    INNER JOIN WORLD_COUNTRY WCY 
		        ON WCY.CODE = WL.COUNTRY_CODE 
		    LEFT JOIN ( 
		        SELECT
		            WL.COUNTRY_CODE
		            , WL.LANGUAGE AS OTLANGUAGE
		            , WL.PERCENTAGE AS OTPERCENTAGE
		            , ROW_NUMBER() OVER ( 
		                PARTITION BY
		                    COUNTRY_CODE 
		                ORDER BY
		                    PERCENTAGE DESC
		            ) AS RNK 
		        FROM
		            WORLD_LANGUAGE WL 
		        WHERE
		            WL.DELETE_FLG = 'visible' 
		            AND WL.IS_OFFICIAL = 'True'
		    ) OM 
		        ON OM.COUNTRY_CODE = WL.COUNTRY_CODE 
		        AND OM.RNK = 1 
		    LEFT JOIN ( 
		        SELECT
		            WL.COUNTRY_CODE
		            , WL.LANGUAGE AS OFLANGUAGE
		            , WL.PERCENTAGE AS OFPERCENTAGE
		            , ROW_NUMBER() OVER ( 
		                PARTITION BY
		                    COUNTRY_CODE 
		                ORDER BY
		                    PERCENTAGE DESC
		            ) AS RNK 
		        FROM
		            WORLD_LANGUAGE WL 
		        WHERE
		            WL.DELETE_FLG = 'visible' 
		            AND WL.IS_OFFICIAL = 'False'
		    ) UM 
		        ON UM.COUNTRY_CODE = WL.COUNTRY_CODE 
		        AND UM.RNK = 1 
		WHERE
		    WCY.NAME = #{nation,jdbcType=NVARCHAR}
	</select>
</mapper>